---
import { Icon } from "astro-icon/components";
const { items } = Astro.props;
import slugify from "@/js/slugify";
import getSlug from "@/js/getSlug";
import "../css/layout/menu.css";

const currentPath = Astro.url.pathname;
const currPage = getSlug(currentPath);

const response = await fetch(import.meta.env.API_SOFT);
const getSites = await response.json();
const currSite = getSites.find((site) => site.slug == currPage);

---

<nav>

  <div class="anchor" data-anchor="#tasks" >
    <span><Icon name="mdi:format-align-justify" size="2rem" /></span>
    <span>Tareas realizadas</span>
  </div>

  {

      currSite.acf.caso.map((sitio) => {

        const currSlug = slugify(sitio.acfe_flexible_layout_title);
        const currAnchor = '#'+ currSlug;
        const currIcon = sitio.icon ? sitio.icon : "mdi:alert-circle-outline";

        return (
          <div class="anchor" data-anchor={currAnchor} >
            <span>
              <Icon name={currIcon} size="2rem" />
            </span>
             <span>{sitio.acfe_flexible_layout_title}</span>
          </div>
        )
        
    })

  }
</nav>

