---
import { Icon } from "astro-icon/components";
const { items } = Astro.props;
import slugify from "@/js/slugify";
import getSlug from "@/js/getSlug";
import "../css/layout/menu.css";

const currentPath = Astro.url.pathname;
const currPage = getSlug(currentPath);

const response = await fetch(import.meta.env.API_SOFT);
const getSites = await response.json();
const currSite = getSites.find((site) => site.slug == currPage);

// Filtramos los items de la API y vemos si hay considencias con el menu
// para renderizar los items existentes que coinicidan
const navItemsFiltered = []; 

items.map((item) => {

  const matchingCasos = currSite.acf.caso.filter((caso) => {
    const casoSlug = `#${slugify(caso.acfe_flexible_layout_title)}`;
    return casoSlug === item[1];
  });

    if( matchingCasos.length > 0) {
      navItemsFiltered.push( [item[0], item[1], item[2]] );
    }
    
})

// Agregamos el primer item de Tareas por defecto
navItemsFiltered.unshift(['Tareas realizadas', '#tasks', 'mdi:format-align-justify' ]);  

---

<nav>
  {
    items.map((item) => {
      const currAnchor = currentPath + item[1];

      return (
        <a href={currAnchor}>
          <span>
            <Icon name={item[2]} size="2rem" />
          </span>
          <span>{item[0]}</span>
        </a>
      );
    })
  }
</nav>
