---
import getSlug from '@/js/getSlug';
import Brand from "../components/Brand.astro";
import GoTop from "../components/Gotop.astro";
import { getHoy } from '../js/gethoy.js'
const hoy = getHoy();

const currentPath = Astro.url.pathname;
const currPage = getSlug(currentPath);

const response = await fetch(import.meta.env.API_SOFT);
const getSites = await response.json();
const currSite = getSites.find((site) => site.slug == currPage);

---
<footer class="container row pt-5 pb-10 xg:py-7" >
    <div class="col-[1/3] md:col-[1/7] xg:col-[1/3]" >
        <Brand width="w-40% md:w-full xg:w-25%" alt="Gridbox" ></Brand>
    </div>
    <div class="col-[3/5] md:col-[7/12] xg:col-[3/11] flex justify-center items-end flex-wrap">
        Actualización de Software realizada el {currSite.acf.fecha}
    </div>
    <div class="col-[1/5] xg:col-[11/13] flex justify-end">
        <GoTop/>
    </div>
</footer>

